# Exploring Series

In [2]:
import pandas as pd
import numpy as np

In [5]:
# Create a series:
s = pd.Series(np.arange(6), index=['a','b','c','d','e','f'])
s

a    0
b    1
c    2
d    3
e    4
f    5
dtype: int64

In [6]:
s[:3]

a    0
b    1
c    2
dtype: int64

In [7]:
s['f']

5

# Exploring DataFrame

In [8]:
# = multiple series
df = pd.DataFrame(s, columns=['Column 1'])
df

   Column 1
a         0
b         1
c         2
d         3
e         4
f         5

In [11]:
df['Column 2'] = df['Column 1']*4
df

   Column 1  Column 2
a         0         0
b         1         4
c         2         8
d         3        12
e         4        16
f         5        20

In [12]:
df.sort_values(by = 'Column 1', ascending=False)

   Column 1  Column 2
f         5        20
e         4        16
d         3        12
c         2         8
b         1         4
a         0         0